*{
    box-sizing: border-box;
}
body{
    margin: 0;

}

.header{
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.nav-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    width: 500px;
    justify-content: space-between;}